.header{
    width: 100%;
    background-color: rgb(66, 134, 244);
    padding: 16px;
    margin-bottom: 10px;
    font-size: 20px;
    color: white;
    border-radius: 10px;
}
.filter{
    float: right;
}

.filter select{
    border-radius: 5px;   
}

.posts{
    margin-bottom: 50px;
}
