<div class="row">
  <div class="col s12">
    <div class="header">{{topic.topic}}</div>            
    <ul class="userList">
        <li *ngFor="let category of categories" class="text-left">
          <a style="font-size:20px;" [routerLink]="['/categories',category._id]"><strong class="pink-text" ><i>{{category.category}}</i></strong></a> 
          <user-created-category style="float:right" [createUser]="category.create_user"></user-created-category>
        </li>            
      </ul>
  </div>
</div>
