
<div class="container center" style="margin-top:80px;">
  <div class="card-panel teal lighten-2">
    <h2>ZeroToZ Shopping</h2>
    <p>I create this page to test my skill in shopping cart and checkout with stripe! Function: localStorage, Bill, Checkout, passing data with angular 4!</p>
    <p>
      <a routerLink='/' class="btn btn-primary">About Me!</a>
      <a routerLink='/' class="btn btn-secondary">Back Home</a>
    </p>
  </div>
  <div class="row" style="margin:80px 0 150px 0;">
    <div class="col s4" *ngFor="let product of products; let i=index">
        <product class="product" (cartChanged)="cartChanged($event)" [product]="product"></product>
    </div>
  </div>
</div>

<div class="cart center" [class.amber-text]="carts.length!=0">
    <p *ngIf="carts.length!=0">Click here to checkout</p>
    <i class="material-icons" (click)="checkout()">add_shopping_cart </i><span>{{totalQuantity}}</span>
</div>


 