

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">ZeroToZ Shopping</h1>
      <p class="lead text-muted">I create this page to test my skill in shopping cart and checkout with stripe! Function: localStorage, Bill, Checkout, passing data with angular 4!</p>
      <p>
        <a routerLink='/' class="btn btn-primary">About Me!</a>
        <a routerLink='/' class="btn btn-secondary">Back Home</a>
      </p>
    </div>
  </section>

  <div class="album text-muted">
    <div class="container">

      <div class="row">
        <div class="card">
          <img src="assets/images/pro1.png" alt="product">
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
        <div class="card">
          <img src="assets/images/pro2.png" alt="product">
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
        <div class="card">
          <img src="assets/images/pro3.png" alt="product">
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>

        <div class="card">
          <img src="assets/images/pro4.png" alt="product">
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
        <div class="card">
          <img src="assets/images/pro5.png" alt="product">
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
        <div class="card">
          <img src="assets/images/pro6.png" alt="product">
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>

        <div class="card">
          <img src="assets/images/pro7.png" alt="product">
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
        <div class="card">
          <img src="assets/images/pro8.png" alt="product">
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
        <div class="card">
          <img src="assets/images/pro9.png" alt="product">
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>

    </div>
  </div>
