
<div class="container center" style="margin-top:80px;">
  <div class="card-panel teal lighten-2">
    <h2>ZeroToZ Shopping</h2>
    <p>I create this page to test my skill in shopping cart and checkout with stripe! Function: localStorage, Bill, Checkout, passing data with angular 4!</p>
    <p>
      <a routerLink='/' class="btn btn-primary">About Me!</a>
      <a routerLink='/' class="btn btn-secondary">Back Home</a>
    </p>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col s4" *ngFor="let product of products; let i=index">
      <div class="card">
        <div class="card-image">
          <img src="{{product.src}}" alt="images product">
          <span class="card-title">{{i+1}} {{product.name}}</span>
        </div>
        <div class="card-action">
          <a *ngIf="carts.length==0" class="btn" style="display:block" (click)="addCart(product)">Add to cart</a>
          <div *ngIf="carts.length!=0">
            <div class="row">
              <div class="col s3">
                  <a class="btn" style="float:left" (click)="takeValue(product)">-</a>
              </div>
              <div class="col s6 center">
                  <a>1 in cart</a>
              </div>
              <div class="col s3">
                  <a class="btn" style="float:left" (click)="takeValue(product)">+</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
