<nav>
  <div class="nav-wrapper">
    <a routerLink="/" class="brand-logo"><img src="assets/images/logoZeroToZ.png" class="logo"  alt=""></a>
      <ul id="nav-mobile" class="right">
        <li  class="nav-item" routerLinkActive='active'><a routerLink="/shop">Shop</a></li>    
        <li *ngIf="userService.isLoggedIn()" class="nav-item " routerLinkActive='active'><a routerLink="/profile">{{username}}</a></li>
        <li *ngIf="userService.isAdmin()" class="nav-item" routerLinkActive='active'><a routerLink="/create/admin">DashBoard</a></li>
        <li *ngIf="userService.isLoggedIn()" class="nav-item" routerLinkActive='active'><a (click)="onLogoutClick()">Logout</a></li>
        <li *ngIf="!userService.isLoggedIn()" class="nav-item" routerLinkActive='active'><a routerLink="/login">Login</a></li>
        <li *ngIf="!userService.isLoggedIn()" class="nav-item" routerLinkActive='active'><a routerLink="/register"s>Register</a></li>
      </ul>
  </div>
</nav>