#chat-box{
    overflow-y: hidden;
    position: fixed;
    bottom: 0;
}
.card{
    width:300px;
    overflow: hidden;
}
.card-content{
    height: 200px; 
    overflow-y: auto;
}
.card-header{
    cursor: pointer;
    background-color: #0069D9;
    color: white;
    padding: 10px;
}

.right{
    text-align: right;
}

.hide{
    display: none;
}

.message{
    float: left;
    padding: 6px;
    margin-bottom: 10px;
    border: 1px solid gray;
    box-shadow: 1px 1px black;
    border-radius: 5px;
    color: black;
}
.right{
    float: right;
    text-align: left;
}
.left{
    float: left;
    text-align: left;
}
.clearBoth{
    clear: both;
}
.user{
    font-size: 16px;
    font-weight: 600;
}
.userLeft{
    float: left;
    color: red;
    margin-bottom: 10px;
}
.card{
    margin: 0;
}
.card-action{
    padding: 0;
}
.card-action input{
    margin: 0;
    color: black;
    padding: 10px;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    gray;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    gray;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    gray;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    gray;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    gray;
}