<div id="chat-box">
  <div class="card">
    <div class="card-header" (click)="showTapChat()"><h6>Forum <span *ngIf="newMessage && hide" class="badge new lime accent-2 red-text"></span></h6></div>
    <div class="chat" [class.hide]="hide">
      <div class="card-content">
        <div id="message-forum">
          <div class="chat-content" *ngIf="messages">
            <div *ngFor="let message of messages">
              <div *ngIf="message.type=='msg'" class="message" [class.right]="message.username==username">
                  <span class="chip user" [ngClass]="{'grey darken-1':message.username!=username,'teal lighten-1':message.username==username}">{{message.username}} : </span> {{message.msg}}
              </div>
              <div *ngIf="message.type=='info'" class="userLeft">
                  <span class="chip yellow darken-4">{{message.username}} : </span> {{message.msg}}
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-action">
          <div class="input-group" >
            <input   type="text" [(ngModel)]="msg" name="msg" class="form-control" (keyup.enter)="sendMsg()" placeholder="Type Message...">
          </div>
      </div>
    </div>
  </div>
</div>